.OrderPage_Container {
    display: flex;
    flex-direction: row;

    height: 1920px;

}

.OrderPage_Back {
    display: flex;
    flex-direction: row;

    position: absolute;
    top : 50px;
    left : 25px;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.OrderPage_Wrapper {
    display: flex;
    flex-direction: column;

    width: 50%;

    justify-content: center;
    align-items: center;
}

.OrderPage_Btn {
    border: none;
    background: none;
    
    width: 100%;
    height : 100%;

    font-family: Roboto;
    font-size: 82px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin-top : 20px;
}
