.QrReader_Container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 1080px;
    
}

.QrReader_Text {
    font-family: Roboto;
    font-size: 100px;
    font-weight: 600;

    margin-top : 20%;
}

.QrReader_Wrapper {
    width: 1080px;
    height : 800px;
    overflow-y: hidden;
    background-color: burlywood;

    align-items: center;
    justify-content: center;
}

.QrReader_Button {
    margin-top : 100px;
    width : 300px;
    height : 100px;

    font-family: Roboto;
    font-size: 70px;
    font-weight: 400;

    background-color: burlywood;
    border: none;
    border-radius: 40px;
}