.method-container {
  position: relative;
  width: 1080px;
  height: 300px;
  background-color: burlywood !important;
  box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
  
}
.back-btn2 {
  position: absolute;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;

  top: 1780px;
  left:  40px;

  border : none;
  box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
  border-radius: 40px;

  width: 300px;
  height : 75px;

  text-align: center;
  padding-top : 10px;
}
.ptext {
  position: absolute;
  font-size: 70px;
  font-weight: bolder;
  left: 40px;
  top: 15%;
  color: black;
}

.ptext1 {
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  left: 60px;
  top: 300px;
}

.ptext2 {
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  left: 60px;
  top: 720px;
}

.ptext3 {
  position: absolute;
  font-size: 40px;
  font-weight: normal;
  left: 60px;
  top: 1500px;
}


.icon {
  margin-top:20px;
}

.card-methods {
    display: flex;
    gap: 15px;
    
  }

  .card-methods button {
    box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
    width:450px;
    height:300px;
    padding-top: -50px;
    margin-top:110px;
    margin-left:55px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .card-methods-text {
    margin-top:10px;
  }

.payment-methods {
    display: flex;
    gap: 12px; // 버튼 사이의 간격 설정
  }
  
  .payment-methods button {
    box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
    width:450px;
    height:300px;
    padding-top: -100px;
    margin-top:130px;
    margin-left:55px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }


  .payment-methods img {
    width: 200px; // 이미지 너비 설정
    height: auto; // 비율 유지하기 위해 자동으로 높이 설정
    margin-right: 10px;
    margin-top: 30px;
  }


  .payment-methods-text1 {
    padding-top:-10px;
  }



.payment-methods2 {
    display: flex;
    gap: 12px; // 버튼 사이의 간격 설정
  }

  .payment-methods2 button {
    box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
    width:450px;
    height:300px;
    padding-top: -100px;
    margin-top:-300px;
    margin-left:570px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }


  .payment-methods2 img {
    width: 200px; // 이미지 너비 설정
    height: auto; // 비율 유지하기 위해 자동으로 높이 설정
    margin-right: 10px;
    margin-top: 40px;
  }


  .payment-methods-text2 {
    padding-top:10px;
  }



.payment-methods3 {
  display: flex;
  gap: 12px; // 버튼 사이의 간격 설정
}

  .payment-methods3 button {
    box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
    width:450px;
    height:300px;
    padding-top: -100px;
    margin-top:60px;
    margin-left:55px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }


  .payment-methods3 img {
    width: 200px; // 이미지 너비 설정
    height: auto; // 비율 유지하기 위해 자동으로 높이 설정
    margin-right: 10px;
    margin-top: 30px;
  }


  .payment-methods-text3 {
    padding-top:10px;
  }



.payment-methods4 {
  display: flex;
  gap: 12px; // 버튼 사이의 간격 설정
}
  
    .payment-methods4 button {
      box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
      width:450px;
      height:300px;
      padding-top: -100px;
      margin-top:-300px;
      margin-left:570px;
      font-size: 50px;
      font-weight: bold;
      border-radius: 30px;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
  
  
    .payment-methods4 img {
      width: 300px; // 이미지 너비 설정
      height: auto; // 비율 유지하기 위해 자동으로 높이 설정
      margin-right: 10px;
      margin-top: 30px;
    }
  
  
    .payment-methods-text4 {
      padding-top:17px;
    }




.payment-methods5 {
  display: flex;
  gap: 12px; // 버튼 사이의 간격 설정
}
  
    .payment-methods5 button {
      width:450px;
      height:300px;
      padding-top: -100px;
      margin-top:120px;
      margin-left:55px;
      font-size: 50px;
      font-weight: bold;
      border-radius: 30px;
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }
  
  
    .payment-methods5 img {
      width: 170px; // 이미지 너비 설정
      height: auto; // 비율 유지하기 위해 자동으로 높이 설정
      margin-right: 12px;
      margin-top: 7px;
    }
  
  
    .payment-methods-text5 {
      margin-top:-1px;
    }