
.icon-container {
  position: relative;
  width: 480px;
  height: 1920px;
  background-color: burlywood;
}

.icon-left-bottom {
  //position: absolute;
  //display:flex;
  margin: 620px -12px;
  //left: 90px;
  //top: 650px;
}

.text1 {
  position: absolute;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  left: 15%;
  top: 250px;
}

.text2 {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  left: 18%;
  top: 500px;
}

.text3 {
  position: absolute;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  left: 13%;
  top: 1150px;
  line-height: 2em;
}

.text4 {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  left: 24%;
  top: 1270px;
  line-height: 2em;
}

.text5 {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  left: 620px;
  top: 490px;
  white-space: nowrap; // 가로로 텍스트 배치
}


.number-pad {
  position: absolute;
  left: 600px;
  top: 600px;
}

.button {
  position: absolute;
  left:520px;
  top:1780px;
}
