.two-buttons {
    display: flex;
    gap: 15px; // 버튼 사이의 간격 설정
  }
  
  .two-buttons button {
    width: 250px; // 버튼의 너비를 늘립니다.
    height: 100px; // 버튼의 높이를 늘립니다.
    padding: 10px;
    font-size: 35px;
    font-weight: 800;
    font-family:Roboto;
    border-radius: 10px;
    border : none;
    box-shadow:  2px 2px 10px 0 rgba(black, 0.7);
    background-color: white;
    cursor: pointer;
  }

  .two-buttons button:nth-child(2) {
    background-color: burlywood;
    //background-color: rgb(238, 211, 176); // 두 번째 버튼 배경색 변경
  }

.modal-overlay {
  position: relative;
  top: -1780px;
  left: -1050px;
  width: 1080px;
  height: 1920px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  top:760px;
  left:60px;
  width:900px;
  height:400px;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-text1 {
  font-size: 50px;
  font-weight:normal;
  margin-top:90px;
}

.modal-text2 {
  font-size:25px;
}

.modal-content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}




  